.pdfContainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 595px;
  min-height: 842px;
  border: #a7a7a7 1px solid;
  border-radius: 5px;
}

.outputButtonsContainer button {
  margin: 15px;
}

.partnerOutputContainer p {
  margin: 2px;
  color: rgb(158, 158, 158);
}

.partnerOutputContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cardContainer {
  box-sizing: border-box;
  padding: 15px;
  border-style: dotted;
  border-width: 1px;
  border-color: #a7a7a7;
  min-width: 130px;
  min-height: 130px;
}

.cardContainer p {
  text-align: center;
  margin-top: 35px;
}

.cardContainer input {
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 24px;
  margin-top: 32px;
  max-width: 110px;
  max-height: 110px;
}
