body,
html {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100vw;
  box-sizing: border-box;
}

/* Light Theme Styles (button styles also defined in navbar modules) */
.light {
  background-color: #f8f8f8;
  color: #333333;
}

.lightNavbar {
  background-color: #e0dfdf;
}

.light h1,
.light h2,
.light h3,
.light h4,
.light p,
.light button {
  color: #333333;
  font-weight: 300;
}

.light button {
  background-color: #e0dfdf;
  border: 1px solid #e0dfdf;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.light button:hover {
  background-color: #d4d4d4;
}

/* Dark Theme Styles (button styles also defined in navbar modules) */
.dark {
  background-color: #333333;
  color: #f5f5f5;
}

.darkNavbar {
  background-color: #222222;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark p,
.dark button {
  color: #f5f5f5;
  font-weight: 300;
}

.dark button {
  background-color: #222222;
  border: 1px solid #222222;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.dark button:hover {
  background-color: #1a1a1a;
}

#modal-root {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}
