/* New Color Palette 01/20/24
Primary Color: #2F4461 - navy
Secondary / Highlight: #E37430 - orange
Third: 6777BF - blue
Gray: #A3ADB1 - gray
White: #F5F6F4 - off white
*/

body,
html {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100vw;
  box-sizing: border-box;
}

/* Light Theme Styles (button styles also defined in navbar modules) */
.light {
  background-color: #f8f8f8;
  color: #333333;
}

.light h1,
.light h2,
.light h3,
.light h4 {
  color: #e18700;
  font-weight: 300;
}

.light h3 {
  color: #2F4461;
  font-weight: 300;
}

.light p,
.light button {
  font-weight: 300;
}

/* Main button border */
.light button {
  background-color: #ffffff;
  border: 0px solid #E37430;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.light button:hover {
  background-color: #d4d4d4;
}

#modal-root {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
}
