.wordsearchInput {
  min-width: 600px;
}

.wordsearchInput input {
  max-width: 500px;
  padding: 10px;
  border: 1px solid #e0dfdf;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.wordsearchInput p {
  margin: 0.8px;
  color: rgb(158, 158, 158);
}

.wordsearchInput button {
  width: 70%;
  max-width: 100px;
  margin: 10px;
}

.numberInputs {
  display: flex;
  justify-content: center;
}

.numberInputs input {
  max-width: 235px;
  margin-left: 5px;
  margin-right: 5px;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #2c3e50;
}