.wordsearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 95%; 
  min-height: 70vh;
  margin: 20px auto;
  padding: 5px; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.wordsearchInput {
  min-width: 600px;
}

.wordsearchInput input {
  max-width: 500px;
  padding: 10px;
  border: 1px solid #e0dfdf;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.wordsearchInput p {
  margin: 0.8px;
  color: rgb(158, 158, 158);
}

.wordsearchInput button {
  width: 70%;
  max-width: 100px;
  margin: 10px;
}

.numberInputs {
  display: flex;
  justify-content: center;
}

.numberInputs input {
  max-width: 235px;
  margin-left: 5px;
  margin-right: 5px;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #2c3e50;
}