.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 95%;
  min-height: 70vh;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pageContainer h2 {
  margin: 0;
  margin-top: 20px;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px;
}

.saveTable {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 30px;
}

.saveItemContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: 1px gray solid;
  border-radius: 5px;
  height: 40px;
}

.tableHeader {
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  grid-template-columns: 5% 25% 25% 20% 15% 10%;
  border: 1px gray solid;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgb(199, 199, 199);
}

.saveItem {
  display: grid;
  grid-template-columns: 5% 25% 25% 20% 15% 10%;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  width: 100%;
}

.tableHeader p {
  font-weight: 600;
}

.saveItem p,
.tableHeader p {
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.saveItemTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  height: 25px;
  transition: background-color 0.3s ease-in-out;
}

.saveItemTitle p {
  font-weight: 700;
}

.saveItemTitle:hover {
  cursor: pointer;
  background-color: rgb(221, 215, 215);
}

.saveItem button {
  z-index: 1;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 25px;  width: 60px;
  border: none;
}
.saveItem button:hover {
  background-color: rgb(221, 215, 215);
}
