.menuContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  /* border-right: 0.2px solid; */
}

.menuLink {
  text-align: left;
  min-width: 90%;
  margin: 10px;
}

.menuLinkActive {
  text-align: left;
  min-width: 90%;
  margin: 10px;
  font-weight: 900;

}

.buttonContainerActiveLight button {
  background-color: #2F4461 !important;
  color: #F5F6F4;
  margin: 0;
  text-align: left;
  min-width: 90%;
  margin: 10px;
}

.buttonContainer button {
  text-align: left;
  min-width: 90%;
  margin: 10px;
}

.buttonContainer button:hover {
  background-color: #A3ADB1;
}