.editProfileContainer {
  width: 70%;
  max-width: 25rem;
  margin: 1rem auto;
}
.editProfile label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: 'Quicksand', sans-serif;
}

.editProfile input,
.editProfile textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  color: #414956;
  font-size: 0.8rem;
  font-family: 'Quicksand', sans-serif;
}
