.lightNavbar {
  display: flex;
  min-height: 10vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #2f4461;
}

.homeLink {
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

.homeLink h4 {
  font-weight: 600 !important;
}

/* .homeLink:visited {
  color: inherit;
} */

.buttonContainer {
  margin-left: auto;
  align-items: center;
}

.navButton {
  min-height: 45px;
  margin-right: 20px;
}

.loginButton {
  min-height: 45px;
  margin-right: 10px;
}

.lightNavbar button {
  border: 1px solid #e0dfdf;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.lightNavbar button:hover {
  background-color: #d4d4d4;
}
